Source: backuppc
Maintainer: Jack <jack@k-net.pro>
Section: utils
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9),
               libbackuppc-xs-perl (>= 0.53) | backuppc-xs (>= 0.53),
               libcgi-pm-perl,
               libscgi-perl,
               libtime-parsedate-perl,
               libxml-rss-perl

Package: backuppc
Architecture: any
Depends: ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
         adduser (>=3.9),
         apache2 | httpd,
         apache2-utils,
         bzip2,
         default-mta | exim4 | mail-transport-agent,
         dpkg (>= 1.15.7.2),
         iputils-ping | inetutils-ping,
         libarchive-zip-perl,
         libbackuppc-xs-perl (>= 0.53) | backuppc-xs (>= 0.53),
         libcgi-pm-perl,
         libcompress-zlib-perl,
         libdigest-md5-perl,
         libscgi-perl,
         libtime-parsedate-perl,
         libwww-perl,
         rrdtool,
         rsync-bpc (>= 3.0.9.6),
         tar (>> 1.13),
         ucf
Recommends: rsync, libfile-rsyncp-perl (>= 0.68), openssh-client | ssh-client, libio-dirent-perl, smbclient, samba-common-bin
Suggests: w3m | www-browser, par2
Description: high-performance, enterprise-grade system for backing up PCs
 BackupPC is disk based and not tape based. This particularity allows
 features not found in any other backup solution:
  * Clever pooling scheme minimizes disk storage and disk I/O.
    Identical files across multiple backups of the same or different PC are
    stored only once resulting in substantial savings in disk storage and disk
    writes. Also known as "data deduplication".
  * Optional compression provides additional reductions in storage.
    CPU impact of compression is low since only new files (those not already
    in the pool) need to be compressed.
  * A powerful http/cgi user interface allows administrators to view log files,
    configuration, current status and allows users to initiate and cancel
    backups and browse and restore files from backups very quickly.
  * No client-side software is needed. On WinXX the smb protocol is used.
    On Linux or Unix clients, rsync or tar (over ssh/rsh/nfs) can be used
  * Flexible restore options. Single files can be downloaded from any backup
    directly from the CGI interface. Zip or Tar archives for selected files
    or directories can also be downloaded from the CGI interface.
  * BackupPC supports mobile environments where laptops are only intermittently
    connected to the network and have dynamic IP addresses (DHCP).
  * Flexible configuration parameters allow multiple backups to be performed
    in parallel.
  * and more to discover in the manual...

